{% extends 'base.html'%}
{% load static %}
{% block content %}
<div class="row my-3 mx-3">
    <div class="col-sm-12">
        <div class="card my-3 px-2">
            <div class="row g-0">
              <div class="col-md-4 py-2">
                    <img src="{% static 'images/gallery1.jpg'%}" class="img-fluid rounded-start" alt="..." style="min-height: 200px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5>Name : Image for Whisker Seeker Tackle Sees a 25% Conversion Rate From Its MegaDeals Text Promotions
                    Whisker Seeker Tackle Sees a 25% Conversion Rate From Its MegaDeals Text Promotions</h5>
                  <p>Mobile Number : <a href="" style="text-decoration: none;">Need to send 50,000+ messages per month? How 'bout a million? Our enterprise team is ready to help you launch high-volume text message campaigns.</a></p>
                  <p>Alternet Number : <a href="" style="text-decoration: none;">SimpleText is the native text editor for the Apple classic Mac OS.[1] SimpleText allows text editing and text formatting (underline, italic, bold, etc.), fonts, and sizes. It was developed to integrate the features included in the different versions of TeachText that were created by various software development groups within Apple Computer.[2]

                    It can be considered similar to Windows' WordPad application. In later versions it also gained additional read only display capabilities for PICT files, as well as other Mac OS built-in formats like Quickdraw GX and QTIF, 3DMF and even QuickTime movies.[2] SimpleText can even record short sound samples and, using Apple's PlainTalk speech system, read out text in English. Users who wanted to add sounds longer than 24 seconds, however, needed to use a separate program to create the sound and then paste the desired sound into the document using ResEdit.[2]</a></p>
                  <p>City : <a href="" class="btn bg-success text-white">GORAKHPUR</a></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>

<div class="row my-3 mx-3">
        <div class="col-sm-12">
            <div class="card my-3 px-2">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5>Name : Text message marketing can take your business to new heights. But don't just take our word for it. Hear it from customers who put it to the test.</h5>
                      <p>Mobile Number : <a href="" style="text-decoration: none;">Need to send 50,000+ messages per month? How 'bout a million? Our enterprise team is ready to help you launch high-volume text message campaigns.</a></p>
                      <p>Alternet Number : <a href="" style="text-decoration: none;">SimpleText is the native text editor for the Apple classic Mac OS.[1] SimpleText allows text editing and text formatting (underline, italic, bold, etc.), fonts, and sizes. It was developed to integrate the features included in the different versions of TeachText that were created by various software development groups within Apple Computer.[2]

                        It can be considered similar to Windows' WordPad application. In later versions it also gained additional read only display capabilities for PICT files, as well as other Mac OS built-in formats like Quickdraw GX and QTIF, 3DMF and even QuickTime movies.[2] SimpleText can even record short sound samples and, using Apple's PlainTalk speech system, read out text in English. Users who wanted to add sounds longer than 24 seconds, however, needed to use a separate program to create the sound and then paste the desired sound into the document using ResEdit.[2]</a></p>
                      <p>City : <a href="" class="btn bg-success text-white">LUCKNOW</a></p>
                    </div>
                  </div>
                  <div class="col-md-4 py-2">
                    <img src="{% static 'images/gallery3.jpg'%}" class="img-fluid rounded-start float-end" alt="..." style="min-height: 200px;">
              </div>
                </div>
              </div>
        </div>
</div>
<div class="row my-3 mx-3">
    <div class="col-sm-12">
        <div class="card my-3 px-2">
            <div class="row g-0">
              <div class="col-md-4 py-2">
                    <img src="{% static 'images/gallery2.jpg'%}" class="img-fluid rounded-start" alt="..." style="min-height: 200px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5>Name : Image for Whisker Seeker Tackle Sees a 25% Conversion Rate From Its MegaDeals Text Promotions
                    Whisker Seeker Tackle Sees a 25% Conversion Rate From Its MegaDeals Text Promotions</h5>
                  <p>Mobile Number : <a href="" style="text-decoration: none;">Need to send 50,000+ messages per month? How 'bout a million? Our enterprise team is ready to help you launch high-volume text message campaigns.</a></p>
                  <p>Alternet Number : <a href="" style="text-decoration: none;">SimpleText is the native text editor for the Apple classic Mac OS.[1] SimpleText allows text editing and text formatting (underline, italic, bold, etc.), fonts, and sizes. It was developed to integrate the features included in the different versions of TeachText that were created by various software development groups within Apple Computer.[2]

                    It can be considered similar to Windows' WordPad application. In later versions it also gained additional read only display capabilities for PICT files, as well as other Mac OS built-in formats like Quickdraw GX and QTIF, 3DMF and even QuickTime movies.[2] SimpleText can even record short sound samples and, using Apple's PlainTalk speech system, read out text in English. Users who wanted to add sounds longer than 24 seconds, however, needed to use a separate program to create the sound and then paste the desired sound into the document using ResEdit.[2]</a></p>
                  <p>City : <a href="" class="btn bg-success text-white">GORAKHPUR</a></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>

<div class="row my-3 mx-3">
        <div class="col-sm-12">
            <div class="card my-3 px-2">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5>Name : Text message marketing can take your business to new heights. But don't just take our word for it. Hear it from customers who put it to the test.</h5>
                      <p>Mobile Number : <a href="" style="text-decoration: none;">Need to send 50,000+ messages per month? How 'bout a million? Our enterprise team is ready to help you launch high-volume text message campaigns.</a></p>
                      <p>Alternet Number : <a href="" style="text-decoration: none;">SimpleText is the native text editor for the Apple classic Mac OS.[1] SimpleText allows text editing and text formatting (underline, italic, bold, etc.), fonts, and sizes. It was developed to integrate the features included in the different versions of TeachText that were created by various software development groups within Apple Computer.[2]

                        It can be considered similar to Windows' WordPad application. In later versions it also gained additional read only display capabilities for PICT files, as well as other Mac OS built-in formats like Quickdraw GX and QTIF, 3DMF and even QuickTime movies.[2] SimpleText can even record short sound samples and, using Apple's PlainTalk speech system, read out text in English. Users who wanted to add sounds longer than 24 seconds, however, needed to use a separate program to create the sound and then paste the desired sound into the document using ResEdit.[2]</a></p>
                      <p>City : <a href="" class="btn bg-success text-white">LUCKNOW</a></p>
                    </div>
                  </div>
                  <div class="col-md-4 py-2">
                    <img src="{% static 'images/gallery4.jpg'%}" class="img-fluid rounded-start float-end" alt="..." style="min-height: 200px;">
              </div>
                </div>
              </div>
        </div>
</div>    

<div class="row my-3 mx-3">
    <div class="col-sm-12">
        <div class="card my-3 px-2">
            <div class="row g-0">
              <div class="col-md-4 py-2">
                    <img src="{% static 'images/gallery5.jpg'%}" class="img-fluid rounded-start" alt="..." style="min-height: 200px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5>Name : Image for Whisker Seeker Tackle Sees a 25% Conversion Rate From Its MegaDeals Text Promotions
                    Whisker Seeker Tackle Sees a 25% Conversion Rate From Its MegaDeals Text Promotions</h5>
                  <p>Mobile Number : <a href="" style="text-decoration: none;">Need to send 50,000+ messages per month? How 'bout a million? Our enterprise team is ready to help you launch high-volume text message campaigns.</a></p>
                  <p>Alternet Number : <a href="" style="text-decoration: none;">SimpleText is the native text editor for the Apple classic Mac OS.[1] SimpleText allows text editing and text formatting (underline, italic, bold, etc.), fonts, and sizes. It was developed to integrate the features included in the different versions of TeachText that were created by various software development groups within Apple Computer.[2]

                    It can be considered similar to Windows' WordPad application. In later versions it also gained additional read only display capabilities for PICT files, as well as other Mac OS built-in formats like Quickdraw GX and QTIF, 3DMF and even QuickTime movies.[2] SimpleText can even record short sound samples and, using Apple's PlainTalk speech system, read out text in English. Users who wanted to add sounds longer than 24 seconds, however, needed to use a separate program to create the sound and then paste the desired sound into the document using ResEdit.[2]</a></p>
                  <p>City : <a href="" class="btn bg-success text-white">GORAKHPUR</a></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>

<div class="row my-3 mx-3">
        <div class="col-sm-12">
            <div class="card my-3 px-2">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5>Name : Text message marketing can take your business to new heights. But don't just take our word for it. Hear it from customers who put it to the test.</h5>
                      <p>Mobile Number : <a href="" style="text-decoration: none;">Need to send 50,000+ messages per month? How 'bout a million? Our enterprise team is ready to help you launch high-volume text message campaigns.</a></p>
                      <p>Alternet Number : <a href="" style="text-decoration: none;">SimpleText is the native text editor for the Apple classic Mac OS.[1] SimpleText allows text editing and text formatting (underline, italic, bold, etc.), fonts, and sizes. It was developed to integrate the features included in the different versions of TeachText that were created by various software development groups within Apple Computer.[2]

                        It can be considered similar to Windows' WordPad application. In later versions it also gained additional read only display capabilities for PICT files, as well as other Mac OS built-in formats like Quickdraw GX and QTIF, 3DMF and even QuickTime movies.[2] SimpleText can even record short sound samples and, using Apple's PlainTalk speech system, read out text in English. Users who wanted to add sounds longer than 24 seconds, however, needed to use a separate program to create the sound and then paste the desired sound into the document using ResEdit.[2]</a></p>
                      <p>City : <a href="" class="btn bg-success text-white">LUCKNOW</a></p>
                    </div>
                  </div>
                  <div class="col-md-4 py-2">
                    <img src="{% static 'images/gallery6.jpg'%}" class="img-fluid rounded-start float-end" alt="..." style="min-height: 200px;">
              </div>
                </div>
              </div>
        </div>
</div>
<div class="row my-3 mx-3">
    <div class="col-sm-12">
        <div class="card my-3 px-2">
            <div class="row g-0">
              <div class="col-md-4 py-2">
                    <img src="{% static 'images/gallery7.jpg'%}" class="img-fluid rounded-start" alt="..." style="min-height: 200px;">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5>Name : Image for Whisker Seeker Tackle Sees a 25% Conversion Rate From Its MegaDeals Text Promotions
                    Whisker Seeker Tackle Sees a 25% Conversion Rate From Its MegaDeals Text Promotions</h5>
                  <p>Mobile Number : <a href="" style="text-decoration: none;">Need to send 50,000+ messages per month? How 'bout a million? Our enterprise team is ready to help you launch high-volume text message campaigns.</a></p>
                  <p>Alternet Number : <a href="" style="text-decoration: none;">SimpleText is the native text editor for the Apple classic Mac OS.[1] SimpleText allows text editing and text formatting (underline, italic, bold, etc.), fonts, and sizes. It was developed to integrate the features included in the different versions of TeachText that were created by various software development groups within Apple Computer.[2]

                    It can be considered similar to Windows' WordPad application. In later versions it also gained additional read only display capabilities for PICT files, as well as other Mac OS built-in formats like Quickdraw GX and QTIF, 3DMF and even QuickTime movies.[2] SimpleText can even record short sound samples and, using Apple's PlainTalk speech system, read out text in English. Users who wanted to add sounds longer than 24 seconds, however, needed to use a separate program to create the sound and then paste the desired sound into the document using ResEdit.[2]</a></p>
                  <p>City : <a href="" class="btn bg-success text-white">GORAKHPUR</a></p>
                </div>
              </div>
            </div>
          </div>
    </div>
    </div>

<div class="row my-3 mx-3">
        <div class="col-sm-12">
            <div class="card my-3 px-2">
                <div class="row g-0">
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5>Name : Text message marketing can take your business to new heights. But don't just take our word for it. Hear it from customers who put it to the test.</h5>
                      <p>Mobile Number : <a href="" style="text-decoration: none;">Need to send 50,000+ messages per month? How 'bout a million? Our enterprise team is ready to help you launch high-volume text message campaigns.</a></p>
                      <p>Alternet Number : <a href="" style="text-decoration: none;">SimpleText is the native text editor for the Apple classic Mac OS.[1] SimpleText allows text editing and text formatting (underline, italic, bold, etc.), fonts, and sizes. It was developed to integrate the features included in the different versions of TeachText that were created by various software development groups within Apple Computer.[2]

                        It can be considered similar to Windows' WordPad application. In later versions it also gained additional read only display capabilities for PICT files, as well as other Mac OS built-in formats like Quickdraw GX and QTIF, 3DMF and even QuickTime movies.[2] SimpleText can even record short sound samples and, using Apple's PlainTalk speech system, read out text in English. Users who wanted to add sounds longer than 24 seconds, however, needed to use a separate program to create the sound and then paste the desired sound into the document using ResEdit.[2]</a></p>
                      <p>City : <a href="" class="btn bg-success text-white">LUCKNOW</a></p>
                    </div>
                  </div>
                  <div class="col-md-4 py-2">
                    <img src="{% static 'images/gallery8.jfif'%}" class="img-fluid rounded-start float-end" alt="..." style="min-height: 200px;">
              </div>
                </div>
              </div>
        </div>
</div>
{% endblock %}